@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: pokemon-solid;
    src: url('../assets/fonts/pokemon-solid.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
}

h1,
h2 {
    font-family: 'pokemon-solid', cursive;
    color: #FAC705;
    -webkit-text-stroke: 0.05rem #3D64B8;
    text-shadow:
        0.05rem 0.05rem 0 #3D64B8,
        -1px -1px 0 #3D64B8,  
        1px -1px 0 #3D64B8,
        -1px 1px 0 #3D64B8,
        1px 1px 0 #3D64B8;
    text-align: center;
    line-height: 1.1em;
}

h2 {
    margin: 1.5rem 0;
    font-size: 3em;
}

.logo {
    width: 50vw;
    z-index: 999;
}

.logo img {
    width: 100%;
}

.options {
    text-align: center;
    width: 50vw;
    height: 40vh;
    z-index: 999;
}

.btn-start-game {
    text-transform: uppercase;
    margin-top: 10px;
    
}

/* ////////// BUTTONS ////////// */
#new-game {
    background: rgba(245, 223, 22, 0.808);
    border: 0;
    border-radius: 2em;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: #000;
    font-weight: 700;
    padding: 1em 3em;
    margin-top: 5em;
}

#new-game:active {
    transform: scale(0.9);
}

#submit {
    background: rgba(245, 223, 22, 0.808);
    border: 0;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: #000;
    font-weight: 700;
    padding: 0.7em 0.6em;
    border-radius: 0.3em;
    margin-top: 0.3em;
}

#submit:active {
    transform: scale(0.9);
}

/* ////////// INPUT NUMBER ////////// */
#numberOfCards {
    padding: 0.3em;
    font-size: 1.2em;
    width: 32px;
    border: 0;
    margin-right: 0.3em;
    border-radius: 0.3em;
}

/* ///// Remove input number spins for Mozilla Browser ///// */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

/* ///// Remove input number spins for Chrome Browser ///// */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* ////////// ALERT ////////// */
#alert {
    width: 50%;
    padding: 0.5em;
    background: #fff;
    color: #000;
    position: fixed;
    bottom: 18%;
    right: 25%;
    font-weight: 400;
    border-radius: 0.2em;
    border: 1px solid #595D5F;
}

.fa-exclamation-circle {
    margin-right: 7px;
    font-size:1.7em;
    color: orange !important;
}
/* ////////// MEDIA QUERIES ////////// */

/* MOBILE DEVICES */
@media screen and (max-width: 500px) and (orientation: portrait) {
    .logo {
        width: 70vw;
    }
        
    .options {
        width: 70vw;
        height: 40vh;
    }
}

@media screen and (max-height: 460px) and (orientation: landscape) {
    #menu {
        margin: 0 auto;
    }

    .logo {
        width: 50vw;
    }
        
    .options {
        width: 70vw;
        height: 40vh;
    }

    #new-game {
        margin-top: 1em;
    }
}