@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --percentage-min: 0%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1em;
    background: #E5E3E8;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    background: #F72C25;
}

#board-game {
    display: grid;

    /* Set the width and height of each card in the grid */
    grid-template-columns: repeat(auto-fill, minmax(min(var(--percentage-min), 270px), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min(var(--percentage-min), 270px), 1fr));

    gap: 0.4rem;
    max-width: 980px;
    min-width: 360px;
    max-height: 900px;
    min-height: 360px;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.5em;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    perspective: 1000px;
}

.card {
    position: relative; /* Related to place the images under each other */
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

/* //////// ANIMATIONS //////// */
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.3em;
}

.front-face {
    position: absolute; /* Positioning image below to the image back */ 
    background: #fff;
    transform: rotateY(180deg);
}


/* ////////// MEDIA QUERIES ////////// */

/* MOBILE DEVICES */
@media screen and (max-width: 500px) and (orientation: portrait) {
    body {
        align-items: flex-end;
    }

    #board-game {
        gap: 0.2rem;
        padding: 0.3rem;
        height: 90vh;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-height: 460px) and (orientation: landscape) {
    body {
        justify-content: end;
    }

    #board-game {
        gap: 0.2rem;
        padding: 0.3rem;
        width: 90vw;
    }

    h2 {
        margin: 0.3rem 0 2rem 0;
        font-size: 2em;
    }
}
