@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    background: #E5E3E8;
    font-family: 'Roboto', sans-serif;
}

#board-game {
    display: flex;
    width: 55%;
    height: 95vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin-right: 1.7em;
    background: #f8f8f8;
    border-radius: 0.5em;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    perspective: 1000px;
}

.card {
    width: calc(15.7% - 10px);
    height: calc(18.7% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    /* padding: 6px; */
    position: absolute;
    background: #fff;
    backface-visibility: hidden;
    border-radius: 0.3em;
}

.front-face {
    transform: rotateY(180deg);
}


/* Responsivity Media Queries */
@media screen and (max-width: 1550px) {
    #board-game {
        width: 63%;   
    }
}

@media screen and (max-width: 1300px) {
    #board-game {
        width: 73%;   
    }
}

@media screen and (max-width: 1100px) {
    #board-game {
        width: 83%;   
    }
}

@media screen and (max-width: 980px) {
    #board-game {
        width: 95%;
        height: 60vh;
        margin-right: 0; 
    }
    
    body {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    #board-game {
        width: 100%;   
    }
}

@media screen and (max-width: 470px) {
    #board-game {
        width: 100%;
        height: 50vh;
        padding: 0.2em;
        margin-right: 0;
    }
}

@media screen and (max-width: 340px) {
    #board-game {
        padding: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    #board-game {
        padding: 0;
        height: 50vh;
    }

    body {
        align-items: flex-end;
    }
}

